*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bar{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color:white;
}
nav {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family:sans-serif;
    font-size: 20px;
}
nav ul li a:hover{
    color: red;
   
}
.details{
    margin-left:10%;
    margin-top: 10%;
}
.details h1{
    font-size: 50px;
    color: black;
    margin-bottom:15px;
}
span{
    color: orange;
}
.details p{
    color: #555;
    line-height: 20px;
}
.details a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 1rem;
}
.images{
    width: 45%;
    height: 80%;
    position:absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;
    bottom: 0;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .dp{
    left: 45%;
}
.contact{
    display: flex;
    padding-left: 150px;
    justify-content: space-between;
    width: 80px; 
}